torch>=2.3.1
torchvision>=0.18.1
transformers>=4.46.0
huggingface_hub>=0.24.6
safetensors>=0.4.3
accelerate>=0.33.0
opencv-python>=4.10.0.84
pillow>=10.4.0
numpy>=1.26.4
tqdm>=4.66.5
requests>=2.32.3
pyyaml>=6.0.2
psutil>=6.0.0
py-cpuinfo>=9.0.0
